footer {
    position: absolute;
    bottom: 0;
    padding: 0 1em;
    border-top: 5px solid var(--pColor);
    background: var(--bgColor);
    .container {
        padding-top: 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .container * {
        margin: 0;
    }
    .links * {
        padding: 0 5px;
    }
}
@media (width < 960px) {
    footer {
        right: 0;
        width: 100%;
        height: 11em;
        .container > * {
            width: 100vw;
            text-align: center !important;
        }
        .links {
            margin: 0.5em 0 !important;
        }
    }
    body {
        padding-bottom: 11em;
        min-height: calc(100vh - 11em);
    }
}
@media (960px <= width) {
    footer {
        right: 0%;
        width: 100%;
        height: 5em;
        .links {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    body {
        padding-bottom: 5em;
        min-height: calc(100vh - 6em);
    }
}